<app-header></app-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showModal(true)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="ion-text-center">
    <h4>Minhas Solicitações</h4>
  </div>

  <ion-list>
    <ion-item-sliding *ngFor="let solicitacao of solicitacoes">
      <ion-item (click)="showModalGet(solicitacao)">
        <ion-label>
          <h2>Nome: {{solicitacao.name}} - Status: {{solicitacao.status}}</h2>
          <p>Inicio: {{solicitacao.startTime}} - Encerrada: {{solicitacao.endTime}}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="udpate(solicitacao)">
          <ion-icon name="create"></ion-icon>
          Edit
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteById(solicitacao)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  
</ion-content>